body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(20, 20, 61);
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

.centered {
    align-items: center;
    justify-content: center;
}

.channel {
    background: linear-gradient(80deg, #8f8c8c, 60%, #ccc8c8);
    max-width: 100%;
}

#master {
    background: linear-gradient(80deg, #921010, 60%, #fc0000);
    max-width: 100%;
}

.channel, #master {
    border-left: 5px solid whitesmoke;
    /*border-image: linear-gradient(90deg, #f7f5ed, 50%, #d9d7d0);*/
    min-height: 85vh;
}

/*.fader, .pan, .track-name {
    background-color: #8f8c8c;
    margin-top: 20px;
}*/

.pan {
    height: 15vh;
}

.pan input[type="range"] {
    appearance: none;
    position: relative;
    top: 65%;
    height: 7px;
    max-width: 75%;
    left: 12%;
    background-color: black;
    border-radius: 5px;
}

.pan input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid black;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #e72b2b;
    cursor: pointer;
    -webkit-appearance: none;
}

.pan input[type="range"]::after {
    content: attr(value);
    position: absolute;
    top: 15px;
    /*margin-top: 2px;*/
    left: 45%;
}

.fader {
    height: 58vh;
    /*position: relative;*/
}

.fader input[type="range"] {
    position: relative;
    appearance: none;
    transform: rotate(270deg) /*translate(-50%, -50%)*/;
    margin-top: 25%;
    width: 350%;
    height: 7px;
    top: 43%;
    right: 125%;
    background-color: black;
    border-radius: 5px;
}

.fader input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 1px 1px 1px #000000;
    border: 1px solid rgb(54, 53, 53);
    border-radius: 3px;
    height: 30px;
    width: 15px;
    background: #e8ecbd;
    cursor: pointer;
    appearance: none;
}

.fader input[type="range"]::after {
    content: attr(value);
    position: absolute;
    top: 12px;
    margin-top: 6px;
    left: 75%;
    transform: rotate(90deg);
}

#play-pause {
    background-color: #0db675;
    color: #0c0c25;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid black ;
    box-shadow: 0 2px 2px 2px black;
    margin-top: 25px;
}

#play-pause:active {
    background-color: #83b60d;
    box-shadow: none;
}

/*#play-puse img {
    height: 50px;
    width: 50px;
}*/